<!doctype html>
	<html lang="en"> 
	<head> 
		<meta charset="UTF-8" />
		<title>Phaser - Making your first game, part 1</title>
		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body>
	<p id="errorMsg" class="hide">Cannot connect to socket server!</p>
		<div id="container">
			<label>Your name: </label>
			<input id="nameInput" type="text"> </input>
			<button id="chooseBtn"> Choose </button>
			<button id="newRoom"> New Room </button>
		</div>
		<script type="text/javascript" src="js/socket.io-1.4.5.js"></script>
		<script type="text/javascript" src="js/phaser.min.js"></script>
		<script type="text/javascript" src="js/motorTexture.js"></script>
		<script type="text/javascript" src="js/socketHandlers.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>