<!--
//TODO: imiona wychwytywac
//TODO: Zeby zniknal motor ktorym nikt nie gra
//TODO: zeby zapisywac w zmiennych socketa cookie i pobierac z niego w pierwszej kolejnosci
//TODO: resetowanie stanu serwera po grze(mapaSocketow i stan playerow) (ewentualne setInterval na tym)
//TODO: zrobienie, aby przy get "/" przekierowywalo do najnowszego dostepnego pokoju
//TODO: zabezpeiczenie, aby nikt nie zmienil swojej pozycji o zbyt duzo(zliczanie czy dana odleglosc od ostatniego x w perspektywie czasu nie jest zbyt duza)
//TODO: PODZIELENIE NA MODULY - zarowno serw jak i klient
//TODO: if laps==3 to olewaj rządania
//TODO: jak 2 osoby klikna ready to daj 20 sec innym na klikniecie
//TODO: jak ktoś skonczy to daj 30 sec innym na zakonczenie
//UNDEFINED
//


-->
<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>Phaser - Making your first game, part 1</title>
	<script type="text/javascript" src="js/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="js/phaser.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">
var socket;
var myNum;

function startSocketing(){
	socket=io.connect("localhost:3000/<%=namespace%>");
	socket.emit("wiad1",{a:"1abc1"})
	socket.on("position",positionSet)
	socket.on("spriteOK",spriteOK)
	socket.on("roomState",roomState)
	socket.on("spriteChoose",spriteChoose)
	socket.on("spriteBad",spriteBad)
	socket.on("startGame",startGame)
	socket.on("playerReady",playerReady)
	 
}


var image;
var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create, update: update ,render:render});

      var dudeData = [
'........................................................................................................',
'..................................DDDDDDDDDD..............................................................',
'.................................DDDDDD..................................................................',
'...............................DDD.......................................................................',
'..............................DDD........................................................................',
'..............................D111155555D................................................................',
'..............................D11D5D5D5D5D5D5D5..........................................................',
'............................D11115555555555555555........................................................',
'.............................DDD1555555555555555555................51111111s.............................',
'...........................DDD.....D5D5D5D5D5D5D5DD5D1111......D111111155555555555555s...................',
'......5555555555555......DDD......DDDDDDDDDDDDDDDDDDD1111111111111155555555555555555555555...............',
'......5555555555555555DDDD........DDDDDDDDDDDDDDDDDDDDD1111111111d55555555555555555555555555.............',
'........d1111111dD5DDDDD..........DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD5D555555511111111111155555555...........',
'......111111111111DDDDsD5DD.......D.DDDDDDDDDDDDDDDDDDDDDDDDDDDD55555555111111111111111155555555.........',
'....111111.......DDDD1d55555D.....D.DDDDDDDDDDDDDDDDDDDDDDDDDDDDDD55551111111s.....111111155555555.......',
'..111111.......DDD511111dD5DD.....D.DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD55511111s.........1111111555555.......',
'..1111......DDD.....s111d5555DD.....DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD55555.................1115555.........',
'..1111....DDD.........s111d555D......DDDDDDDDDDDDDDDDDDDDDDDDDDDDDD5551111..............1111.............',
'..1111................s111s.............D.D.D.D.D..D.D.D.D.D.D.D.D.s11111s.............11111.............',
'..111111............s11111s...............D.D.D.D..D.D.D.D.D.D.D.D.5.s11111s.........1111111.............',
'....111111........511111D..............................................s11111s.....1111111...............',
'......1111111111111111D..................................................s11111111111111.................',
'........d11111111111D......................................................11111111115...................',
'.........................................................................................................'
    ];
    var onePixel = ['0'];
    var player;
    var direction;
    // var speed=0.1;
    var started;
    var ellipse;
	var text2;
	var interval;
	var players;
	var speed;
	var floors;
	var ellipseLength;
	var names;
	var button;
	var buttonText;
	var laps;
	function roomState(a){
		console.log("a:")
		console.log(a)
// 		={'name': t
// 'x':170+mot
// 'y': 200}
		// if((!a.players || !a.started) && a[1])
		// 	a=a[1]
		for(var x in a.players){
			var b=a.players;
			// if(typeof(names[x]) !== "undefined")
			names[x].setText(b[x].name);
			// else
			// {
			// 	preparedNames[x]=b[x].name
			// }
			players[x].x=b[x].x;
			players[x].y=b[x].y;
			players[x].ready=b[x].ready;
			renderTexts(x)
			if(a.started)
			{

			}
			else if(a.owner!=x)
			{
				players[x].alpha=0.5;
				players[x].events.onInputDown.remove(spriteClicked, this);
			}
		}
		if(a.owner)
		{
			myNum=a.owner;
			spriteOK(true)
			for(var i in players)
				players[i].events.onInputDown.remove(spriteClicked, this);
			if(Object.keys(a.players).length>=2)
				showButton(true);
		}
	}

	function startGame(a){
		var who = a.who
		players[who].ready=true;
		for(var x in players)
		{
			if(players[x].ready)
			{
				players[x].ready=false
				players[x].playing=true
				players[x].alpha=1;
				names[x].text=names[x].text.substr(0,names[x].text.indexOf('(')-1)
			}
			if(x!=myNum)
				players[x].visible=false;
			
		}	

		buttonText.text=5;
		buttonText.visible=true;
		setTimeout(function(){buttonText.visible=true;buttonText.text=4;},1000)
		setTimeout(function(){buttonText.visible=true;buttonText.text=3;},2000)
		setTimeout(function(){buttonText.visible=true;buttonText.text=2;},3000)
		setTimeout(function(){buttonText.visible=true;buttonText.text=1;},4000)
		setTimeout(
			function(){
				buttonText.visible=false;started=true;
				for(var x in players)
				{
					if(players[x].playing)
					{
						players[x].visible=true;
					}
						
				}
		},5000)
		
	}
	function playerReady(a){
		var who = a.who;
		players[who].ready=true;
		renderTexts(who)
	}
	function positionSet(a){
		var i=a.num;
		if (i!=myNum)
		{
			players[i].x=a.x;
			players[i].y=a.y;
			players[i].scale.x=a.scaleX
			players[i].scale.y=a.scaleY
			
		}
		if(i==myNum && a.lap==3)
			started=false;
		laps[i]=a.lap+"";
		renderTexts(i);
	}	
	function spriteChoose(a){
		var i=a.myNum;
		//player[i].name=a.name;
		if(i!=myNum)
		players[i].alpha=0.5
		names[i].setText(a.name);
		names[i].realName=a.name;
		renderTexts(i)
		if(i==myNum)
		{
			spriteOK(true)
			showButton(true)
			for(var x in players)
				players[x].events.onInputDown.remove(spriteClicked, this);

		}
		else
			players[i].events.onInputDown.remove(spriteClicked, this);
		
		//a.name;
		//player[i].visibility..
	}
	function spriteBad(){
		spriteOK(false)
	}
	function spriteOK(a){
			if(a)
			{
				interval=setInterval(function(){
				if(players[myNum].y!=285){
					players[myNum].y++;
				}
				else if(players[myNum].x!=350)
				{
					players[myNum].x+=(players[myNum].x>350)? -1: 1;
				}
				else
				{
					clearInterval(interval);
				}
				renderTexts(myNum)
			},7)
			}
			else
			{
				for(var i in players)
					players[i].events.onInputDown.add(spriteClicked, this);
			}
		}
		function buttonClicked(sprite){
			console.log("button clicked!")
			buttonText.visible=false;
			button.visible=false;
			players[myNum].ready=true;
			socket.emit("ready",{});
		}
		function spriteClicked(sprite){

			for(x in players)
				players[x].events.onInputDown.remove(spriteClicked, this);
			myNum=sprite.num;
			socket.emit("spriteChoose",{
										'myNum': myNum,
										'name': "imie"+myNum});
		  // ... your code
			console.log("kliknieto!"+sprite.num)
			
		}
		function renderTexts(num){
			if(players[num].ready && names[num].text.indexOf("ready")==-1)
				names[num].text+=" (ready)"
			names[num].text=laps[num].length>0? names[num].realName+" ("+laps[num]+")" : names[num].text;
			names[num].x=players[num].x-30
			names[num].y=players[num].y+15
		}
function showButton(condition){
	button.visible=condition;
	buttonText.visible=condition;
}
function initButton(){
  		button = game.add.sprite(100, 200, 'button');
  		var style = { font: "32px Courier", fill: "#ffffff"};
  		var style2 = { font: "32px Courier", fill: "#ffffdd"};
		buttonText = game.add.text(0, 0, "READY", style);
		button.scale.x=1.4//0.05
		button.scale.y=1//0.035
		button.y=80
		button.x=340
		buttonText.alignTo(button, Phaser.CENTER, -10,-48);
		buttonText.inputEnabled = true;
		buttonText.input.useHandCursor = true;
		button.inputEnabled = true;
		button.input.useHandCursor = true;
		buttonText.events.onInputOver.add(function(){buttonText.setStyle({ font: "32px Courier", fill: "#000000"})},this);
		buttonText.events.onInputOut.add(function(){buttonText.setStyle({ font: "32px Courier", fill: "#ffffff"})},this);
		button.events.onInputDown.add(buttonClicked, this);
		buttonText.events.onInputDown.add(buttonClicked, this);

		showButton(false);
  	}
function preload() {
	   //game.load.image('diamond', 'assets/diamond.png');
	   game.load.image('button', 'assets/button.png');
}

function create() {
	myNum=-1;
	started=false;
	laps=["","","",""]
	direction=1;
	players=[];
	speed=[];
	floors=[];
	ellipseLength;
	names=[];
	//game.physics.startSystem(Phaser.Physics.CANVAS);
	game.stage.backgroundColor = '#2d2d2d';
	 //game.add.sprite(0, 0, 'sky');

 //    var graphics = game.add.graphics(game.world.centerX, game.world.centerY);
 //    graphics.lineStyle(8, 0xffd900);
	// graphics.drawEllipse(0, 0, 300, 90);
	//ellipse = new Phaser.Ellipse(game.world.centerX, game.world.centerY, 300, 550);
	//ellipse = new Phaser.Ellipse(200, 200, 300, 90)
    dudeData2=dudeData.map(function(a){return a.split("D").join("A")});
    dudeData3=dudeData.map(function(a){return a.split("D").join("3")});
    dudeData4=dudeData.map(function(a){return a.split("D").join("5")});
    game.create.texture('phaserDude0', dudeData, 4, 4, 0);
	game.create.texture('phaserDude1', dudeData2, 4, 4, 0);
    game.create.texture('phaserDude2', dudeData3, 4, 4, 0);
    game.create.texture('phaserDude3', dudeData4, 4, 4, 0);
    game.create.texture('onePixel', onePixel, 4, 4, 0);
    floors=[]
    ellipseLength=130;
    for(var i=0;i<ellipseLength;i++)
    {
    	wspolczynnik=(130-i)/13
    	//var tempRect=new Phaser.Rectangle(400-(i*wspolczynnik), 130+i, i*wspolczynnik*2-13, 1);
		var tempRect=game.add.sprite(400-(i*wspolczynnik), 130+i, 'onePixel');
		
			tempRect.scale.x=i*(wspolczynnik/2)
		// tempRect.body.collideWorldBounds = true;
		// tempRect.body.checkCollision.up = true;
		// tempRect.body.checkCollision.down = true;
		// tempRect.body.immovable = true;
  		floors.push(tempRect) ;
    	game.physics.enable(floors[i], Phaser.Physics.ARCADE);
    }
  	ellipse=new Phaser.Ellipse(100, 350, 200, 300)
  	

  	
	initButton();
	// ellipse.scale.x=0.65
	// ellipse.scale.y=0.9
	

	var numOfPlayers=4;
	for(var i=0;i<numOfPlayers;i++)
	{	
		player = game.add.sprite(170+i*150, 200, 'phaserDude'+i);
		player.num=i;
		players.push(player);
		var t = game.add.text(0, 0, "", { font: "18px Arial", fill: "#aaDD00", align: "center" });
		names.push(t)
	}
  	for(x in players)
  	{
  		players[x].anchor.set(0.5);
		players[x].scale.x=-0.25;
		players[x].scale.y=0.25;
		players[x].angle=0;
		players[x].speed=2;
		players[x].ready=false;
		players[x].collidedFlag=false;
		game.physics.enable(players[x], Phaser.Physics.ARCADE);

		players[x].inputEnabled = true;
		players[x].input.useHandCursor = true; //if you want a hand cursor
		players[x].events.onInputDown.add(spriteClicked, this);
		

	tempRect.body.checkCollision.left = false;
	tempRect.body.checkCollision.right = false;
	tempRect.body.checkCollision.OVERLAP_BIAS=-50
	players[x].body.collideWorldBounds = true;
	players[x].body.bounce.setTo(1, 1);

	// players[x].body.velocity.y = -200;
	// players[x].body.velocity.x = 200;
  	}

  	// player2 = game.add.sprite(300, 300, 'phaserDude2');
    
    game.physics.arcade.enable(player);
	var text = "Żużel game with sockets";
    var style = { font: "25px Arial", fill: "#ffDD44", align: "center" };
    var t = game.add.text(game.world.centerX-150, 0, text, style);
	//text2 = game.add.text(game.world.centerX, 100, 'Hello World!',style);

    //game.add.existing(text2);
    cursors = game.input.keyboard.createCursorKeys();
    startSocketing();
}
function collisionRemove(){
	for(x in players)
	{
		if(players[x].collidedFlag)
		{
			players[x].collidedFlag=false;
			
		}
		else
		{
			players[x].speed=2
		}
	}
	

}
setInterval(collisionRemove,100);

function collisionHandler(a,b,c){
	
	var i=b.num
	players[i].collidedFlag=true;
	if(players[i].speed>0.5)
		players[i].speed-=0.001;
	//text2.setText("COLISION!");
}

function render () {
	for(var i=0;i<ellipseLength;i++)
    	game.debug.geom(floors[i],'#000000');

    game.debug.geom(ellipse,'#0fffff');
}
function update() {
	//var speed=2.5;
	if(started)
	{
		x=myNum;
		for(var i=0;i<ellipseLength;i++)
    	{
    		game.physics.arcade.collide(floors[i], players[x], collisionHandler, null, this);
    	}
	  		  
		//game.physics.arcade.collide(ellipse, players[x], collisionHandler, null, this);  
		//game.physics.arcade.collide(players[x], ellipse);
	
	    if (cursors.left.isDown)
	    {
	    players[x].angle -= 0.015*players[x].speed;
	        
	       
	//player.scale.x+=0.003
	        // direction+=0.1;
	        // player.scale.x-=0.001
	        //player.scale.x = 0.25;
	    }
	    else if (cursors.right.isDown)
	    {
	    	players[x].angle += 0.015*players[x].speed;
	    	// direction-=0.1;
	        // newY=player.y-speed;
	        // newX=player.x-speed;

	         //player.scale.x+=0.001
	        //player.scale.x = -0.25;
	    }
	    if(-players[x].angle>2*Math.PI)
	    	players[x].angle=players[x].angle+2*Math.PI
	    	// newX=player.x+speed*direction;
	     //    newY=player.y+speed*(1-direction);
	     	if(players[x].angle<-Math.PI)
	     		players[x].scale.x=0.25+((players[x].angle+Math.PI)/(Math.PI)*0.5)//*dir;
	     	if(players[x].angle>-Math.PI)//poczatek
	     		players[x].scale.x=-0.25-(players[x].angle/3.14)*0.5//*dir;
			if(player.scale.x>0.25)
	     		players[x].scale.x
	     	else if(players[x].scale.x<-0.25)
	     		players[x].scale.x=-0.25
	 		players[x].x = players[x].x + players[x].speed*Math.cos(players[x].angle);
	        players[x].y = players[x].y + players[x].speed*Math.sin(players[x].angle);
		socket.emit("position",{
							'num': 	 x,
							'x': 	 players[x].x,
							'y': 	 players[x].y,
							'scaleX':players[x].scale.x,
							'scaleY':players[x].scale.y
							})
		renderTexts(x)
	   		// console.log(angle)
	   		// console.log(player.scale.x)
	  	
	}
}


  /*if (game.input.keyboard.isDown(Phaser.Keyboard.LEFT))
    {
        image.x -= 4;
    }
    else if (game.input.keyboard.isDown(Phaser.Keyboard.RIGHT))
    {
        image.x += 4;
    }

    else if (game.input.keyboard.isDown(Phaser.Keyboard.UP))
    {
        image.y -= 4;
    }
    else if (game.input.keyboard.isDown(Phaser.Keyboard.DOWN))
    {
        image.y += 4;
    }*/
</script>

</body>
</html>